@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body {
    background-color: black;
    font-family: "Lato", sans-serif;
    color: orange;
    text-align: center;
}
.heading {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-size: xx-large;
}
#heading > i {
    color: orange;
}
h2 {
    margin-top: 300px;
    font-size: xx-large;
}
p {
    font-size: x-large;
}
.menu {
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.general-btn {
    background-color: green;
    text-transform: uppercase;
    font-weight: 700;
    width: 40vw;
    height: 170px;
}
.option {
    transition: transform 0.3s ease;
}

.option:hover {
    transform: scale(1.1);
}
.entertainment-btn {
    background-color: yellow;
    text-transform: uppercase;
    font-weight: 700;
    width: 40vw;
    height: 170px;
}
.geography-btn {
    background-color: red;
    text-transform: uppercase;
    font-weight: 700;
    width: 40vw;
    height: 170px;
}
.history-btn {
    background-color: orange;
    text-transform: uppercase;
    font-weight: 700;
    width: 40vw;
    height: 170px;
}
.game-area {
    background-color: darkgrey;
    box-sizing: border-box;
    width: 85%;
    height: 85vh;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}
.question-area {
    font-size: 1.7rem;
    text-align: center;
    padding: 50px 0;
    margin: auto;
}
#question {
    color: black;
}
div a {
    color: orange;
    font-size: xx-large;
}
.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
    text-align: center;
}
#score {
    color: green;
    font-weight: bold;
}
.question-area {
    display: none;
    text-align: center;
}
#incorrect {
    color: red;
    font-weight: bold;
}
#answer-box {
    color: #445361;
    display: inline-block;
    margin-top: 30px;
    height: 30px;
    width: 50vw;
    font-size: 1.2rem;
    text-align: center;
}
button {
    height:5vh;
    width: 50vw;
    background-color: #E6ECF0;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: x-small;
}
div i {
    font-size: 16px;
}
span {
    padding-bottom: 35px;
}
@media screen and (min-width:600px) {
    .game-area {
        height: 85vh;
    }
    button {
        font-size: large;
        height: 10vh;
        width: 60vw;
    }
    .general-btn {
        width: 35vw;
        height: 250px;
    }
    .entertainment-btn {
        width: 35vw;
        height: 250px;
    }
    .geography-btn {
        width: 35vw;
        height: 250px;
    }
    .history-btn {
        width: 35vw;
        height: 250px;
    }
    div a {
        font-size: 40px;
    }
    
}
@media screen and (max-width:1300px) {
    button  {
        width: 60vw;
    }
}
@media screen and (min-width: 1300px) {
    button {
        width: 40vw;
        font-size: xx-large;
    }
    .game-area {
        width: 90%;
        max-width: 2000px;
    }
    .general-btn {
        width: 35vw;
        height: 400px;
    }
    .entertainment-btn {
        width: 35vw;
        height: 400px;
    }
    .geography-btn {
        width: 35vw;
        height: 400px;
    }
    .history-btn {
        width: 35vw;
        height: 400px;
    }
    div i {
        font-size: 40px;
    }
    h2 {
        font-size: 55px;
    }
}